
body {
    font-family: Arial, "Comic Sans MS", cursive;
    background-color: #535151;
    color: #333;
}

footer {
    text-align: left;
    padding: 20px;
    background-color: #c72f2f;
    color: #000000; 
}

.footer-content {

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: space-between;
}

footer ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin: 0 10px;
}

header {
    background-color: #c72f2f;
    color: #e7b322;
    padding: 20px;
    text-align: center;
    font-family: Arial, "Comic Sans MS", cursive;
}

h1 {
    font-size: 36px;
}

main {
    flex-grow: 1;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgb(118, 179, 116);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#UI {
    display: flex;
    justify-content: center; 
    margin: 0;
    padding: 80px 0; 
    position: relative; 
    background-color: #f8f8f8;
    border-top: 2px solid #ccc; 
    margin-top: -150px;

}



.arena {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 150%; 
    width: 100%; 
    background-image: url('./fondo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 50; 
    padding: 30;
    position: relative; 
    top: -250px;

}


#pokePropio{

  
    position: fixed;
    top: 320px;

}

#pokeRival{
  
    position: fixed;
    top: 220px;
    left: 850px;
}
#poke-rival{
    height: 15%;
    width: 100%;
}
#poke-propio{
    height: 25%;
    width: 100%;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

.espacio {
    margin-right: 5px;
}

#mensajes-combate {
    margin-top: 20px;
}

h3 {
    font-size: 24px;
}

img {
    max-width: 50%; 
    height: 17%;
}

.pokemon-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.pokemon-card {
    width: 250px;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    font-family: Arial, sans-serif;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.info-header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hp-bar {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.hp-bar span {
    margin-right: 5px;
}

.hp-bar-container {
    width: 100%;
    height: 10px;
    border: 1px solid black;
    background-color: #ccc;
    position: relative;
    overflow: hidden;
}

#hpRival-bar, #hpPropio-bar {
    height: 100%;
    background-color: green;
    width: 80%; /* Porcentaje dinámico */
    transition: width 0.5s ease-in-out;
}

.types {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.types span {
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

/* Estilo base para los tipos */
.type {
    padding: 5px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
    margin: 0 5px;
}
.type.steel { background-color: #A8A8C0; color: black; }
.type.water { background-color: #6890F0; color: white; }
.type.bug { background-color: #A8B820; color: black; }
.type.dragon { background-color: #7038F8; }
.type.electric { background-color: #F8D030; color: black; }
.type.ghost { background-color: #705898; }
.type.fire { background-color: #F08030; }
.type.fairy { background-color: #EE99AC; color: black; }
.type.ice { background-color: #98D8D8; color: black; }
.type.fighting { background-color: #C03028; }
.type.normal { background-color: #A8A878; color: black; }
.type.grass { background-color: #78C850; color: black; }
.type.psychic { background-color: #F85888; }
.type.rock { background-color: #B8A038; color: black; }
.type.dark { background-color: #705848; }
.type.ground { background-color: #E0C068; color: black; }
.type.poison { background-color: #A040A0; }
.type.flying { background-color: #A890F0; }

@media (max-width: 768px) {
    .pokemon-container {
        flex-direction: column;
        align-items: center;
    }

    .pokemon-card {
        width: 90%;
        margin-bottom: 20px;
    }

    
}

